body{
    background-color: #f3f3f3;
    margin-left: 55px;
}

.white1{

    width: 23vw;
    height: 18vh;
    

}
h1{
    position: absolute;
    font-size: 70px;
}
.h1-color{
    color: #f3f3f3;
}

.blue1{

    width: 23vw;
    height: 18vh;
    background-color: #00004D;

}
.pink1{
    width: 23vw;
    height: 18vh;
    background-color:  #ED354F;

}
.pink2{

    width: 23vw;
    height: 18vh;
    background: #ED354F;
    padding-bottom: 20px;
}

.blue2{

    width: 23vw;
    background-color: #00004D;
    height: 18vh;


}
.white2{

    width: 23vw;
    height: 18vh;
 
}
.club{

    display: inline-block;

}


.logo{

    width: 23vw;
    height: 37vh;
    background-image: url(../../public/img/logo.png);
 
}
.blue-nom{

    background-color: #00004D;
    width: 45vw;
    height: 23vh;
}
.div-border{
   width: 24vw;
   height: 23vh;
   margin-left: 2px;
   border: 2px solid black;
}

.club2{

    display: inline-block;
}

.div-contact{

    width: 24vw;
    height: 23vh;
}
.club3{

    display: inline-block;
}
.div-border-2{
    width: 21vw;
    height: 23vh;
    margin-left: 2px;
    
    border: 2px solid black;
 }


 .pink-contact{

    background-color: #ED354F;
    height: 23vh;
    width: 47vw;
    margin-left: 4px;

 }

 .club4{


    display: inline-block;
 }

 .div-fleche{


    width: 100%;

    height: 25vh;
 }

 .club5{
    display:inline-block;
 }

 .div-logo{

    width: 23vw;
    height: 10vh;
 }

 .blue-logo{
    width: 23vw;
    height: 10vh;
    background-color: #00004D;

 }
 .div-pink{
    width: 23vw;
    height: 20vh;
    background-color: #ED354F;

 }
 div:hover{

  
    cursor: pointer;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,.1000);

 }
 

 .bloc {
 
    align-items : center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    width: 100px;
  }
  
  /*Réinitilaisation de la liste déroulante*/
  select {
    /*appearance: none;*/
    width: 100px;
    border: 0 !important;
    background: #F9F9F9;
    /*background-image: none;*/
    box-shadow: none;
    font-size: 1.3 em;
  }
  
  /*Ajout des couleurs de fond pour chaque option */
  select option[value="1"] {
    background: #2E6DB4;
    color: white;
  }
  
  select option[value="2"] {
    background: #107C11;
    color: white;
  }
  
  select option[value="3"] {
    background: #E70009;
    color: white;
  }
  
  select option[value="4"] {
    background: black;
    color: white;
  }
  
  /* Mise en forme de la div .select*/
  .select {
    position: absolute;
    width: 420px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #CED4DA;

  }
  
  /* Mise en forme de la balise select*/
  select {
    width: 100px;
    height: 100%;
    margin: 0;
    padding-left: 15px;
    color: #555555;
    cursor: pointer;
  }
  
  
  /* Mise en place de la flèche */
  .select::after {
    content: '\276F';
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0 15px;
    background: white;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.5em;
    background: #F9F9F9;
  }
  
  
  .select:hover::after {
    color: #ED354F;
  }
  
  
  

 